body{
    background: hsl(148, 38%, 91%)  ; 
    }
    
    h1{
        padding-left: 15px;
    }
    
    .pai{
        background: white;
        border: 0px solid black;
        border-radius: 10px;
        width: 550px;
        height: 560px;
        margin: 195px 0px 0px 700px;
        display: inline-block;
        position: relative;
    }
    
    .lado1{
        display: flex;
        position: absolute;
        margin: 3px -15px 0px 25px;
     
    }
    
    .lado2{
        display: flex;
        position: absolute;
        margin: -34px 0px 0px 280px;
    
    }
    
    .name1{
        display: flex;
        position: absolute;  
        margin: -15px 10px 10px 25px ;
        font-size: 15px;
    }
    
    
    .name2{
        display: flex;
        position: absolute;  
        margin: -50px 0px 10px 280px ;
        font-size: 15px;
    }
    
    .tamanho{
        width: 230px;
        height: 30px;
        border: 1px solid black;
        border-radius: 8px;
    }
    
    .email{
        margin-left:15px ;
        width: 500px;
        height: 33px;
        border: 1px solid black;
        border-radius: 7px;
    }
    
    .email1{
        margin: 15px;
        font-size: 15px;
    }
    
    
    .marcar1{
        padding-top: 4px;
        margin: 15px;
        width: 250px;
        height: 30px;
        border: 1px solid black;
        border-radius: 7px;
    }
    
    .marcar2{
        padding-top: 4px;
        width: 250px;
        height: 30px;
        border: 1px solid black;
        border-radius: 7px;
        margin: -69px 0px 10px 280px;
    }
    
    .paragrafo{
        font-size: 15px;
        margin: -70px 0px 10px 10px;  
        display: none;
    }
    
    .area{
        border: 1px solid black;
        margin: 20px 0px 15px 30px;
        border-radius: 5px;
    }
    
    .message{
        font-size: 15px;
        margin: -120px 0px 10px 35px;
    }
    
    
    .necessario{
        font-size: 15px;
        margin: 90px 0px 10px 45px; 
    }
    
    .submit{
        background:  hsl(169, 82%, 27%) ;
        color: white;
        margin: 20px 0px 0px 25px;
        border: 3px solid hsl(169, 82%, 27%);
        border-radius: 5px;
        height: 35px;
        width: 490px;
    }
    
    .corno{
        margin: 0px 0px 0px 15px;
    }